body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

h1 {
    color:blue;
    font-size: 36px;
}
h3 {
    color:black;
}
h2{
    color:blue;
}
p {
    font-size: 18px;
    color:grey
}
.intro{
    width: 800px;
    margin: auto;
    background-color: #e8f1fc;
}
.pinfo{

    max-width: 800px;
    margin: 100px auto;
    background-color:#e8f1fc;
    padding: 6px;
}